{% import "_includes/forms" as forms %}
<h2>Set the string prefix used on default images</h2>
{{ forms.textField({
  label: "When an image can not be found, a fallback image will be used instead. This fallback image should can be any common format type, but must obey a naming convention.A prefix, followed by the image transform type handle. Example: default-thumb.png. Here you can choose a different prefix."|t,
  id: 'prefix',
  name: 'prefix',
  placeholder: 'default-',
  value: settings.prefix,
  errors: settings.getErrors('prefix'),
}) }}
